.navbar-default
{
    background-color: none;
}

.bg {
    background-image: url("./img/prj/878.jpg");
    height: 720px;
    margin-top: -90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myCarousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }


  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }



.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }


  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }

  /* @keyframes slide-up-1 {
    from {margin-top: 0px;}
    to {margin-top: -20px;}
  }
  @keyframes slide-down-1 {
    from {margin-top: 0px;}
    to {margin-top: 20px;}
  }


  .card-animation-1:hover {
    animation: slide-up-1 forwards;
    animation-duration: 0.5s;
  }

  .card-animation-1 {
    animation: slide-down-1 forwards;
    animation-duration: 0.5s;
  } */


  #demo-svg {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
  }



  .nav-link .letter {
    display: inline-block;
    line-height: 1em;
  }

  .navbar-brand .letter {
    display: inline-block;
    line-height: 1em;
    color:#FFD700
   }

.svg {
    margin-right: -100px;
}

.container a {
    color: #212529;
    text-decoration: none;

}



.nav-link, #nav-animation-1 {
  color: #FFD700;
}

.modal-tour .modal-dialog {
  width: 380px;
}

.text-box {
  margin-left: 10px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, .2);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  text-align: center;
}

.text-box:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}